node_modules
backend/node_modules
.next
.env.local
backend/.env
backend/uploads
out/
media-processor/logs
media-processor/node_modules
media-processor/dist
media-processor/output/
media-processor/test-video.mp4
backend/dist
